#root{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.main{
    flex: 1 1 auto;
}

.container{
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
}


