@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
// Fonts

$main-font: 'Montserrat', sans-serif;

// Colors

$gray-00FFA3: #00FFA3;
$gray-1D70B7: #1D70B7;
$gray-1F1F1F: #1F1F1F;
$gray-000000: #000000;
$gray-858585: #858585;
$gray-FFFFFF: #FFFFFF;
$gary-F5F5F5: #F5F5F5;
$gray-E3E3E3: #E3E3E3;