.banner {
    margin: 50px 0;
    padding: 20px 0;

    &_row {
        @include center();
        column-gap: 20px;
    }

    &_content {
        max-width: 630px;
    }

    &_title {
        font-weight: 500;
        font-size: 64px;
        line-height: 110%;
        letter-spacing: -0.02em;

        background: linear-gradient(to right, $gray-1F1F1F 50%, $gray-1D70B7 55%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &_subtitle {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: $gray-858585;
        margin: 20px 0;
    }

    &_buttons {
        @include flexcenter(center);
        column-gap: 12px;
    }

    &_btn {
        border-radius: 16px;
        padding: 10px 24px;
        background-color: $gray-1F1F1F;
        color: $gray-FFFFFF;
        font-weight: 600;
        font-size: 16px;
        border: 3px solid transparent;
        transition: all 0.2s ease-in;

        &:last-child {
            background-color: $gary-F5F5F5;
            color: $gray-1F1F1F;
        }

        &:hover{
            background-color: transparent;
            color: $gray-000000;
            border: 3px solid $gray-1F1F1F;
        }
    }

    &_img {
        width: 640px;
        border-radius: 32px;
    }

    @include media(1150) {
        &_title {
            font-size: 50px;
        }

        &_img {
            width: 580px;
        }
    }

    @include media(1100) {
        &_title {
            font-size: 40px;
        }

        &_img {
            width: 500px;
        }
    }

    @include media(900) {
        &_row {
            align-items: start;
            flex-direction: column;
        }

        &_buttons {
            margin-bottom: 20px;
        }

        &_img {
            width: 650px;
        }
    }

    @include media(690) {
        &_img {
            width: calc(100% - 0px);
        }
    }

    @include media(400) {
        &_title {
            font-weight: 600;
            font-size: 32px;
            line-height: 125%;
            letter-spacing: -0.01em;
        }

        &_subtitle {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
        }

        &_buttons{
            margin-bottom: 32px;
        }

        &_btn {
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
        }
    }
}